/*Head and body-----------------------------------------------------------------------------------------------------------------*/

.body {
  background-image: url('/indexInicio/extintores_fuego.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 300vh;
  margin: 0;
  padding: 0;

  position: relative;
  padding-bottom: 2em;
}


@media (max-width: 767px) {
  .body {
    height: 600vh;
    width: 180vh;
    padding-bottom: 0;
  }
}


.conteinerInicio {
  background-color: rgba(239, 220, 220, 0.879);
  width: 80%;

  margin: 0 auto;

  padding: 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;

  border: 1px solid #140303;
}

.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: #100101;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.iconsInicio {
  display: inline-block;
  padding: 3px;
  font-size: 60px;
}

@media (max-width: 768px) {
  .Header {
    background-color: #01ddff;
    flex-direction: row;
    padding: 55px 5%;
    justify-content: space-between;
    position: absolute;

  }

  .navegation {
    position: relative;
    font-size: 5.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;

  }

  .textInicio {
    display: none;
  }

  .iconsInicio {
    display: inline-block;
    padding: 3px;
    font-size: 60px;
  }

  .nombreEmpresa {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    position: relative;
  }

  .contenedorBusqueda {
    display: flex;
    align-items: center;
    position: relative;
  }

  .barraBusqueda {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(248, 246, 246, 0.5);
    color: rgb(10, 10, 3);
    border: none;
    position: relative;
    overflow: hidden;
    font-size: 40px;
    font-family: "Josefin_Sans";
    opacity: 0.8;
    width: 100%;
  }
}

.nombreEmpresa {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: 58px;
}

.contenedorBusqueda {
  display: flex;
  align-items: center;
  position: relative;
}

.navegation {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;

}

.lupa {
  width: 30px;
  height: 30px;
  margin-top: -3px;
  position: absolute;
  right: 5%;
  cursor: pointer;
}

.barraBusqueda {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(248, 246, 246, 0.5);
  color: rgb(10, 10, 3);
  border: none;
  position: relative;
  overflow: hidden;
  font-size: 40px;
  font-family: "Josefin_Sans";
  opacity: 0.8;
  width: 100%;
}

.icons {
  display: inline-block;
  padding: 1px;
}

.buttonBorder {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: rgb(14, 12, 0);
  border: none;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  font-family: "Josefin_Sans";
}

.buttonBorder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: transparent;
  transition: width 1.3s ease;
  z-index: -1;
}

.buttonBorder:hover::before {
  background-image: linear-gradient(to right, #f40202, #ff9a00, #f6ff00);
  background-position: left center;
  width: 100%;

}

.textInicio {
  margin-right: 8px;
  font-size: 30px;
}

/*Nav----------------------------------------------------------------------------------------------------------------------------*/

.navIndex {
  font-family: "Josefin_Sans";
  font-size: 50px;
}

.navInfo {
  position: absolute;
  top: 150px;

  right: 60%;

  width: 500px;

  height: 500px;
  background-color: rgba(255, 254, 254, 0.166);
  border: 1px solid #100d0d;
  padding: 10px;
  overflow: auto;
}

.h1Info {
  font-family: "Josefin_Sans";
  font-size: 32px;
  margin-bottom: 20px;
}

.text {
  margin-right: 8px;
}

.textOpciones{
  margin-right: 8px;
  font-size: 50px;
}

.textOpcionesPro{
  margin-right: 8px;
  font-size: 40px;
}

.icons {
  margin-left: 8px;
}

.articleInfo {
  font-family: "Josefin_Sans";
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.linkMaps {
  color: #1284c7;
  font-family: "Josefin_Sans";
}

.navInfoFotos {
  position: absolute;
  top: 150px;

  right: 10%;

  width: 500px;

  height: 500px;
  background-color: rgba(255, 254, 254, 0.166);
  border: 1px solid #100d0d;
  padding: 10px;
  overflow: auto;
}

.navDireccion {
  position: absolute;
  top: 850px;

  right: 9%;
  left: 9%;

  width: auto;

  height: 500px;
  background-color: rgba(255, 254, 254, 0.166);
  border: 1px solid #100d0d;
  padding: 10px;
  overflow: auto;
}

.navProductos {
  position: absolute;
  top: 1550px;

  right: 10%;

  width: 500px;

  height: 500px;
  background-color: rgba(255, 254, 254, 0.166);
  border: 1px solid #100d0d;
  padding: 10px;
  overflow: auto;
}

.navServicios {
  position: absolute;
  top: 1550px;

  right: 60%;

  width: 500px;

  height: 500px;
  background-color: rgba(255, 254, 254, 0.166);
  border: 1px solid #100d0d;
  padding: 10px;
  overflow: auto;
}

.navServiciosImagenes {
  position: absolute;
  top: 850px;

  right: 10%;

  width: 500px;

  height: 500px;
  background-color: rgba(255, 254, 254, 0.166);
  border: 1px solid #100d0d;
  padding: 10px;
  overflow: auto;
}

/*Tabla*/
.tablaUbication {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #000000;
}

.tablaUbication th, .tablaUbication td {
  border: 2px solid #090000;
  padding: 8px;
  text-align: center;
}

.tablaUbication th {
  background-color: #f2f2f2;
}

.tablaUbication tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .tablaUbication {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #070505;
  }
  
  .tablaUbication th, .tablaUbication td {
    border: 1px solid #0d0000;
    padding: 8px;
    text-align: center;
  }
  
  .tablaUbication th {
    background-color: #fa000083;
  }
  
  .tablaUbication tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .navIndex {
     
    align-content: center;
  }
  .textOpcionesPro{
    margin-right: 8px;
    font-size: 40px;
  }

  .navInfo {
    font-size: 50px;

    top: 35vh;
    position: absolute;
    width: auto;
    max-width: none;
    height: auto;
    display: 10px;

    right: 3%;
    left: 3%;

    background-color: rgba(255, 254, 254, 0.744);
    border: 1px solid #100d0d;
    padding: 50px;
    overflow: auto;
    margin-bottom: 5%;
  }

  .navInfoFotos {
    top: 25%;
    position: absolute;
    width: auto;
    max-width: none;
    height: auto;
    display: 10px;

    right: 20%;
    left: 20%;

    background-color: rgba(255, 254, 254, 0.744);
    border: 1px solid #100d0d;
    padding: 50px;
    overflow: auto;
    margin-bottom: 5%;

  }

  .navDireccion {
    top: 277vh;
    position: absolute;
    width: auto;
    max-width: none;
    height: 620px;
    display: 10px;

    right: 3%;
    left: 3%;

    background-color: rgba(255, 254, 254, 0.744);
    border: 1px solid #100d0d;
    padding: 50px;
    overflow: auto;
    margin-bottom: 5%;

  }
  

  .navProductos {
    top: 380vh;
    position: absolute;
    width: auto;
    max-width: none;
    height: auto;
    display: 10px;

    right: 3%;
    left: 3%;

    background-color: rgba(255, 254, 254, 0.744);
    border: 1px solid #100d0d;
    padding: 50px;
    overflow: auto;
    margin-bottom: 5%;

  }

  .navServicios {
    top: 455vh;
    position: absolute;
    width: auto;
    max-width: none;
    height: auto;
    display: 10px;

    right: 3%;
    left: 3%;

    background-color: rgba(255, 254, 254, 0.744);
    border: 1px solid #100d0d;
    padding: 50px;
    overflow: auto;
    margin-bottom: 5%;

  }



  .h1Info {
    font-family: "Josefin_Sans";
    font-size: 52px;
    margin-bottom: 20px;
  }



  .icons {
    margin-left: 8px;
  }

  .articleInfo {
    font-family: "Josefin_Sans";
    font-size: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  .linkMaps {
    font-size: 40px;
    color: #1284c7;
    font-family: "Josefin_Sans";
  }
}


/*Footer-------------------------------------------------------------------------------------------------------------------------*/

.etiqueta {
  background-color: #aa1d1d;
  color: #d9d9d9;
  font-size: 32px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: -10px;
  text-align: left;
  font-family: "Josefin_Sans";
  padding: 15px;
}

.contactos {
  font-family: "Josefin_Sans";
  font-size: 20px;
  margin-inline: 35px;
  color: #d9d9d9;
}

.linkInicio {
  margin-left: 35%;
  font-size: 28px;
  text-align: center;
  font-family: "Josefin_Sans";
  text-decoration: underline;
}

.linkInicio:hover {
  background-color: #454545;
  color: #2ce3f7;
}

.footerInicio {
  background-color: #100101;
  padding: 1em 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 28px;
  font-family: "Josefin_Sans";
  color: #fff;

  display: flex;
  justify-content: space-between;

}

.footerInicio>div {
  flex: 1;
  margin-right: 20px;
}


h2,
h3 {
  margin-left: 10px;

}

.linkMaps {
  display: block;

  margin-top: 5px;

}

@media (max-width: 768px) {
  .etiqueta {
    font-size: 24px;
  }

  .contactos {
    font-size: 32px;
    margin: 0 20px;
  }

  .linkInicio {
    font-size: 34px;
    margin-left: 20%;
  }

  .footerInicio {
    font-size: 34px;
  }
}