/*IndexGerenteDos-------------------------------------------------------------------------------------------------------------------*/

.bodySidebar {
  margin: 0;
  padding: 0;
  height: 100vb;
  overflow: hidden;
}

.containerSidebar {
  display: flex;
  height: 100vb;
  width: 100%;
  overflow: hidden;
  transition: background 0.3s ease;
   
}




.colorPalette {
  display: none;
  flex-wrap: wrap;
  gap: 10px;
}

.colorPalette.visible {
  display: flex;
}

.colorBox {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}




select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.asideSidebar {
  width: 17rem;
  background-color: #33333300;
  color: rgb(14, 9, 9);
  overflow-y: auto;
}

@media (max-width: 768px) {

   
  .bodySidebar {
    height: auto;
    overflow-x: auto;
    
  }
 

  .containerSidebar {
    padding: 0;
  }
  .asideSidebar{
    display: none;
  }
   
 
}

/*Sidebar---------------------------------------------------------------------------------------------------------------------------*/

.sidebar_wrapper {
  position: absolute;
  height: 100%;

}

.asideGerente {
  width: 17rem;
  height: 100%;
  background: linear-gradient(#464d73, #c9c3d0);
  padding: 1rem;
  transition: all 0.3s linear cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: aliceblue;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #15ff00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;

}

.btnDos {
  display: none;
}

.logo {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ff0000;
}

.sidebar_logo {
  width: 3.4rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 1rem;
}

.sidebar_logo-name {
  font-size: 1.4rem;
  font-weight: 600;

}

.sidebar_list {
  list-style: none;
}

.sidebar_link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #000000;
  padding: 0.8rem 1rem;
  display: flex;
  background-color: #efe2fd;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sidebar_name {
  margin-left: 0.5rem;
}

.sidebar_icon {
  font-size: 1.2rem;
  display: inline-block;
}

[data-collapse="true"] {
  width: 5.3rem;

}

[data-collapse="true"] .sidebar_name,
[data-collapse="true"] .sidebar_logo-name {
  display: none;
}

.main {
  flex: 1;
  height: 100vh;

  background-color: #000000;
  background-size: cover;
  background-position: center;
  color: #33333300;

  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  transform: translateX(calc(-30% + 15px));
  z-index: -1;
  pointer-events: none;
}

.iconsGerenteDos {
  font-size: 1.2rem;
  display: inline-block;
}

/*BaseLayout----------------------------------------------------------------------------------------------------*/

.layout {
  display: flex;
  height: 100vh;
  position: relative;
  gap: 2rem;
}
