@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');

.code {
    font-family: 'Libre Barcode 128 Text', sans-serif; /*Tipo deletra para codigo de barras*/
    font-weight: normal;
    font-size: 2rem;
}