.FondoModal {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;

    min-height: 100vh;

    background: linear-gradient(to right, #000000, #140620, #1e0b39, #0a053b);

    width: 100%;
    height: 100vh;
    position: fixed;
     
    align-items: center;
    justify-content: center;
    display: grid;
    place-items: center;
    
    
    box-sizing: border-box; 
}

 
@media (max-width: 768px) {
    .FondoModal {
        padding: 2em;
          
    }
}

 
@media (max-width: 480px) {
    .FondoModal {
        padding: 1em;  
    }
}


.contenedorInput {
    margin-bottom: 60px;
}   

.textDos {
    font-size: 1.2rem;
    color: #f8f5f5;
    margin-bottom: 10px;
    
}

.textTres {
    font-size: 1.2rem;
    color: #0f0101;
    margin-bottom: 0px;
    background-color: #f8f5f522;
    
}

.inputRes {
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccccccd8;
    color: #f9f5f5;
    border-radius: 5px;
    background-color: #f8f5f522;
}

.botonRes {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 5vh;
}

.botonRes:hover {
    background-color: #0056b3;
}
.contenedorRegistro {
    position: relative;
    border-radius: 35px 0 ;
    
    margin: auto;
    
    width: 370px;
    height: 75vh;
    background: rgba(248, 248, 250, 0.14);
    
    padding: 10px;
    overflow: hidden;
   
}
.contenedorRegistro::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 450px;
    background: linear-gradient(60deg, transparent, transparent, #ffc400, #ff6f00, #0000ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.contenedorRegistro::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 450px;
    background: linear-gradient(60deg, transparent, transparent,#ffc400, #ff6f00, #0000ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

.formReg{
     
    border-radius: 35px 0;
    background: rgb(0, 0, 0);
    height: auto;
    position: absolute;
    inset: 2px;
     
    
    z-index: 10;
    padding: 30px 30px;

}


@media (max-width: 768px) {
    .contenedorRegistro {
        width: 90%; /* Ajusta el ancho máximo para tabletas */
    }

    .formReg {
        padding: 20px; /* Ajusta el padding para tabletas */
    }
}

@media (max-width: 576px) {
    .contenedorRegistro {
        max-width: 100%; /* Ajusta el ancho máximo para teléfonos */
    }

    .formReg {
        padding: 15px; /* Ajusta el padding para teléfonos */
    }
}

.iconsSalirRegistro {
    color: aliceblue;
    font-size: 40px;


}

.buttonBorderAtrasRegister {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.textUno {
    font-size: 1.5vw;
    font-weight: bold;
    color: #f8f5f5;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #f9f5f5;
  
    
    padding-bottom: 1vw; /* Usando viewport width (vw) para hacerlo responsive */
    margin-bottom: 2vw;
}


 
@media (max-width: 768px) {
    .textUno {
        font-size: 1.5rem; 
        margin-bottom: 5px;  
    }


    .contenedorInput {
        margin-bottom: 30px;  
    }

    .textDos {
        font-size: 1rem; 
        margin-bottom: 5px;  
    }

    .inputRes {
        padding: 8px;
        font-size: 0.9rem;  
    }

    .botonRes {
        padding: 8px 16px;  
        font-size: 0.9rem;  
        margin-bottom: 2vh;
    }
 
}

 
@media (max-width: 480px) {
    .textUno {
        font-size: 1rem; 
        margin-bottom: 5px;  
    }
    .contenedorInput {
        margin-bottom: 20px;  
    }

    .textDos {
        font-size: 0.9rem; 
        margin-bottom: 3px; 
    }

    .inputRes {
        padding: 6px;
        font-size: 0.8rem;  
    }

    .botonRes {
        padding: 6px 12px;  
        font-size: 0.8rem;  
        margin-right: 3vh;
        margin-bottom: 2vh;
    }

    .contenedorRegistro {
        top: 10vh;
        right: 3vh;  
        width: 90%;  
    }
}